<!DOCTYPE html>
<html>
    <head>
        <title>
            Cards - Tronic247 Material
        </title>
        <link rel="shortcut icon" href="../../img/logo.png" />
        <meta
            name="title"
            content="Cards - Tronic247 Material"
        />
        
        <meta name="description" content="The documentation for the Cards component" />
        
        <meta name="keywords" content="Material design, material-design-framework , jquery material design, best material-design framework" />
        <meta name="theme-color" content="#1976d2" />
        <meta name="robots" content="index, follow" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="English" />
        <meta name="manifest" content="manifest.json" />
        <meta name="revisit-after" content="1 days" />
        <meta name="author" content="Tronic247" />
        <meta charset="utf-8" />
        <meta name="google-site-verification" content="JMK3acXgb2TqdMocLLdL9QkR1A5iFuvhWBSTNM4QTNo" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script data-no-instant id="locationcheck">
            window.location = "https://material.tronic247.com/?redirect";
        </script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tronic247/material/dist/css/material.min.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/styles/github.min.css"
            integrity="sha512-0aPQyyeZrWj9sCA46UlmWgKOP0mUipLQ6OZXu8l4IcAmD2u31EPEy9VcIMvl7SoAaKe8bLXZhYoMaE/in+gcgA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
        <link rel="stylesheet" href="../../style.css" />
    </head>
    <body class="container-fluid p-0 m-0">
        <header class="appbar elevating" style="position: fixed; top: 0; left: 0; width: 100%;">
            <div class="appbar-content">
                <a class="appbar-brand" href="/">Tronic247 Material</a>
                <ul class="appbar-items appbar-item--end">
                    <form class="input-form">
                        <input class="input input-with-icon" placeholder="Search" id="search" />
                        <span class="search-icon material-icons">search</span>
                    </form>
                </ul>
            </div>
        </header>
        <div class="p-4"></div>

        
<div class="background-primary page-title" style="display: flex;align-items: center;">
	<h1 class="h4 text-white">Cards</h1>
	<a class="btn text text-white dark small" style="height: max-content; margin-left: 0.5em;" href=https://github.com/Tronic247/material-docs/edit/main/docs/components/cards.md data-tooltip="Edit this page on Github">Edit this page</a>

</div>
</div>
<article class="row sides p-0 container-fluid" id="main-content">
	<aside class="col-3 p-0">
		<div class="list small">
			
			 
		<a class="list-item " href="../../getting-started/">
			Getting started
		</a>
		  
			<p><strong>Components</strong></p>
			
			<a
			class="
			list-item
			
			"
			href="../alerts/"
			>
			Alerts
		</a>
		
			<a
			class="
			list-item
			
			"
			href="../appbars/"
			>
			Appbars
		</a>
		
			<a
			class="
			list-item
			
			"
			href="../banners/"
			>
			Banners
		</a>
		
			<a
			class="
			list-item
			
			"
			href="../bottom-appbar/"
			>
			Bottom appbar
		</a>
		
			<a
			class="
			list-item
			
			"
			href="../breadcrumbs/"
			>
			Breadcrumbs
		</a>
		
			<a
			class="
			list-item
			
			"
			href="../button-group/"
			>
			Button group
		</a>
		
			<a
			class="
			list-item
			
			"
			href="../buttons/"
			>
			Buttons
		</a>
		
			<a
			class="
			list-item
			active
			"
			href="./"
			>
			Cards
		</a>
		
			<a
			class="
			list-item
			
			"
			href="../checkboxes/"
			>
			Checkboxes
		</a>
		
			<a
			class="
			list-item
			
			"
			href="../chips/"
			>
			Chips
		</a>
		
			<a
			class="
			list-item
			
			"
			href="../containers/"
			>
			Containers
		</a>
		
			<a
			class="
			list-item
			
			"
			href="../dialogs/"
			>
			Dialogs
		</a>
		
			<a
			class="
			list-item
			
			"
			href="../drawer/"
			>
			Drawer
		</a>
		
			<a
			class="
			list-item
			
			"
			href="../elevation/"
			>
			Elevation
		</a>
		
			<a
			class="
			list-item
			
			"
			href="../floating-action-button/"
			>
			Floating action button
		</a>
		
			<a
			class="
			list-item
			
			"
			href="../grid/"
			>
			Grid
		</a>
		
			<a
			class="
			list-item
			
			"
			href="../lists/"
			>
			Lists
		</a>
		
			<a
			class="
			list-item
			
			"
			href="../menu/"
			>
			Menu
		</a>
		
			<a
			class="
			list-item
			
			"
			href="../progress/"
			>
			Progress
		</a>
		
			<a
			class="
			list-item
			
			"
			href="../radio-buttons/"
			>
			Radio buttons
		</a>
		
			<a
			class="
			list-item
			
			"
			href="../ripple-effect/"
			>
			Ripple effect
		</a>
		
			<a
			class="
			list-item
			
			"
			href="../select-menus/"
			>
			Select menus
		</a>
		
			<a
			class="
			list-item
			
			"
			href="../sliders/"
			>
			Sliders
		</a>
		
			<a
			class="
			list-item
			
			"
			href="../snackbars/"
			>
			Snackbars
		</a>
		
			<a
			class="
			list-item
			
			"
			href="../switch/"
			>
			Switch
		</a>
		
			<a
			class="
			list-item
			
			"
			href="../tables/"
			>
			Tables
		</a>
		
			<a
			class="
			list-item
			
			"
			href="../tabs/"
			>
			Tabs
		</a>
		
			<a
			class="
			list-item
			
			"
			href="../textfields/"
			>
			Textfields
		</a>
		
			<a
			class="
			list-item
			
			"
			href="../tooltips/"
			>
			Tooltips
		</a>
		
			<a
			class="
			list-item
			
			"
			href="../typography/"
			>
			Typography
		</a>
		
			<a
			class="
			list-item
			
			"
			href="../utilities/"
			>
			Utilities
		</a>
		
		 
		
	</div>
</aside>
<main class="col-3 p-3">
	<div id="offers-content">
		<ins class="adsbygoogle"
		style="display:block"
		data-ad-format="fluid"
		data-ad-layout-key="-gs-3+1f-3d+2z"
		data-ad-client="ca-pub-8836219589547174"
		data-ad-slot="6464200648"></ins>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<div class="row">
		<div class="col" id="table-of-contents">
			
			
			<div class="list small">
				
				<a class="list-item ripple-e" href="#basic-card">Basic Card</a>
				
				
				<a class="list-item ripple-e" href="#collapsed-card">Collapsed Card</a>
				
				
				<a class="list-item ripple-e" href="#card-with-header">Card With Header</a>
				
				
				<a class="list-item ripple-e" href="#outlined-card">Outlined card</a>
				
				
			</div>
		</div>
		<div class="col-10">
			
			
			
			<div class="p-4 m-1 background-light-grey" style="padding: 5% 30% !important;">
    <div class="card">
      <div class="card-ripple-container ripple-e">
        <div class="card-header">
          <img src="https://images.unsplash.com/photo-1473773508845-188df298d2d1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80" class="card-img">
          <h3 class="card-title">The world and Hello</h3>
          <h4 class="card-meta-title">By John Doe</h4>
        </div>
        <div class="card-content">
          <p class="card-meta-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, animi voluptates ea illum nostrum quo sapiente ducimus facere est fugit repellat ratione asperiores culpa itaque dolores ad reprehenderit quas corporis!</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="card-footer-start">
          <button class="text">Button 1</button>
        </div>
        <div class="card-footer-end">
          <button class="icon"><i class="material-icons">favorite</i></button>
          <button class="icon"><i class="material-icons">favorite</i></button>
        </div>
      </div>
    </div>
</div>

<pre><code class="language-xml">&lt;div class=&quot;card&quot;&gt;
    &lt;div class=&quot;card-ripple-container ripple-e&quot;&gt;
        &lt;div class=&quot;card-header&quot;&gt;
            &lt;img src=&quot;https://images.unsplash.com/photo-1473773508845-188df298d2d1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=967&amp;q=80&quot; class=&quot;card-img&quot;&gt;
            &lt;h3 class=&quot;card-title&quot;&gt;The world and Hello&lt;/h3&gt;
            &lt;h4 class=&quot;card-meta-title&quot;&gt;By John Doe&lt;/h4&gt;
        &lt;/div&gt;
        &lt;div class=&quot;card-content&quot;&gt;
            &lt;p class=&quot;card-meta-text&quot;&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, animi voluptates ea illum nostrum quo sapiente ducimus facere est fugit repellat ratione asperiores culpa itaque dolores ad reprehenderit quas corporis!&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-footer&quot;&gt;
        &lt;div class=&quot;card-footer-start&quot;&gt;
            &lt;button class=&quot;text&quot;&gt;Button 1&lt;/button&gt;
        &lt;/div&gt;
        &lt;div class=&quot;card-footer-end&quot;&gt;
            &lt;button class=&quot;icon&quot;&gt;&lt;i class=&quot;material-icons&quot;&gt;favorite&lt;/i&gt;&lt;/button&gt;
            &lt;button class=&quot;icon&quot;&gt;&lt;i class=&quot;material-icons&quot;&gt;favorite&lt;/i&gt;&lt;/button&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
<h2 id="basic-card">Basic Card</h2>
<div class="p-4 m-1 background-light-grey" style="padding: 5% 30% !important;">
   <div class="card">
    <div class="card-ripple-container ripple-e">
        <div class="card-header">
            <img src="https://images.unsplash.com/photo-1473773508845-188df298d2d1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80" class="card-img">
            <h3 class="card-title">The world and Hello</h3>
            <h4 class="card-meta-title">By John Doe</h4>
        </div>
        <div class="card-content">
            <p class="card-meta-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, animi voluptates ea illum nostrum quo sapiente ducimus facere est fugit repellat ratione asperiores culpa itaque dolores ad reprehenderit quas corporis!</p>
        </div>
    </div>
</div>
</div>

<pre><code class="language-xml">&lt;div class=&quot;card&quot;&gt;
    &lt;div class=&quot;card-ripple-container ripple-e&quot;&gt;
        &lt;div class=&quot;card-header&quot;&gt;
            &lt;img src=&quot;https://images.unsplash.com/photo-1473773508845-188df298d2d1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=967&amp;q=80&quot; class=&quot;card-img&quot;&gt;
            &lt;h3 class=&quot;card-title&quot;&gt;The world and Hello&lt;/h3&gt;
            &lt;h4 class=&quot;card-meta-title&quot;&gt;By John Doe&lt;/h4&gt;
        &lt;/div&gt;
        &lt;div class=&quot;card-content&quot;&gt;
            &lt;p class=&quot;card-meta-text&quot;&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, animi voluptates ea illum nostrum quo sapiente ducimus facere est fugit repellat ratione asperiores culpa itaque dolores ad reprehenderit quas corporis!&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
<h2 id="collapsed-card">Collapsed Card</h2>
<div class="p-4 m-1 background-light-grey" style="padding: 5% 30% !important;">
   <div class="card collapsed">
    <div class="card-ripple-container ripple-e">
      <div class="card-header">
        <img src="https://images.unsplash.com/photo-1473773508845-188df298d2d1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80" class="card-img">
        <div class="card-header-content">
          <h3 class="card-title">The world and Hello</h3>
          <h4 class="card-meta-title">By John Doe</h4>
        </div>
      </div>
      <div class="card-content">
        <p class="card-meta-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, animi voluptates ea illum nostrum quo sapiente ducimus facere est fugit repellat ratione asperiores culpa itaque dolores ad reprehenderit quas corporis!</p>
      </div>
    </div>
    <div class="card-footer">
      <div class="card-footer-start">
        <button class="text">Button 1</button>
      </div>
      <div class="card-footer-end">
        <button class="icon"><i class="material-icons">favorite</i></button>
        <button class="icon"><i class="material-icons">favorite</i></button>
      </div>
    </div>
  </div>
</div>

<pre><code class="language-xml">&lt;div class=&quot;card collapsed&quot;&gt;
    &lt;div class=&quot;card-ripple-container ripple-e&quot;&gt;
        &lt;div class=&quot;card-header&quot;&gt;
            &lt;img src=&quot;https://images.unsplash.com/photo-1473773508845-188df298d2d1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=967&amp;q=80&quot; class=&quot;card-img&quot;&gt;
            &lt;div class=&quot;card-header-content&quot;&gt;
                &lt;h3 class=&quot;card-title&quot;&gt;The world and Hello&lt;/h3&gt;
                &lt;h4 class=&quot;card-meta-title&quot;&gt;By John Doe&lt;/h4&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;card-content&quot;&gt;
            &lt;p class=&quot;card-meta-text&quot;&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, animi voluptates ea illum nostrum quo sapiente ducimus facere est fugit repellat ratione asperiores culpa itaque dolores ad reprehenderit quas corporis!&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-footer&quot;&gt;
        &lt;div class=&quot;card-footer-start&quot;&gt;
            &lt;button class=&quot;text&quot;&gt;Button 1&lt;/button&gt;
        &lt;/div&gt;
        &lt;div class=&quot;card-footer-end&quot;&gt;
            &lt;button class=&quot;icon&quot;&gt;&lt;i class=&quot;material-icons&quot;&gt;favorite&lt;/i&gt;&lt;/button&gt;
            &lt;button class=&quot;icon&quot;&gt;&lt;i class=&quot;material-icons&quot;&gt;favorite&lt;/i&gt;&lt;/button&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
<h2 id="card-with-header">Card With Header</h2>
<div class="p-4 m-1 background-light-grey" style="padding: 5% 30% !important;">
   <div class="card">
    <div class="card-header header-before">
      <div class="row">
        <div class="col-2 me-3">
          <img src="https://images.unsplash.com/photo-1473773508845-188df298d2d1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80" class="rounded-xll" width="40" height="40">
        </div>
        <div class="col-8">
          <h3 class="card-title">The world and Hello</h3>
          <h4 class="card-meta-title">By John Doe</h4>
        </div>
      </div>
    </div>
    <div class="card-ripple-container ripple-e">
      <div class="card-header">
        <img src="https://images.unsplash.com/photo-1473773508845-188df298d2d1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80" class="card-img">
      </div>
      <div class="card-content">
        <p class="card-meta-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, animi voluptates ea illum nostrum quo sapiente ducimus facere est fugit repellat ratione asperiores culpa itaque dolores ad reprehenderit quas corporis!</p>
      </div>
    </div>
    <div class="card-footer">
      <div class="card-footer-start">
        <button class="text">Button 2</button>
      </div>
      <div class="card-footer-end">
        <button class="icon"><i class="material-icons">favorite</i></button>
        <button class="icon"><i class="material-icons">favorite</i></button>
      </div>
    </div>
  </div>
</div>

<pre><code class="language-xml">&lt;div class=&quot;card&quot;&gt;
    &lt;div class=&quot;card-header header-before&quot;&gt;
      &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;col-2 me-3&quot;&gt;
          &lt;img src=&quot;https://images.unsplash.com/photo-1473773508845-188df298d2d1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=967&amp;q=80&quot; class=&quot;rounded-xll&quot; width=&quot;40&quot; height=&quot;40&quot;&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-8&quot;&gt;
          &lt;h3 class=&quot;card-title&quot;&gt;The world and Hello&lt;/h3&gt;
          &lt;h4 class=&quot;card-meta-title&quot;&gt;By John Doe&lt;/h4&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-ripple-container ripple-e&quot;&gt;
      &lt;div class=&quot;card-header&quot;&gt;
        &lt;img src=&quot;https://images.unsplash.com/photo-1473773508845-188df298d2d1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=967&amp;q=80&quot; class=&quot;card-img&quot;&gt;
      &lt;/div&gt;
      &lt;div class=&quot;card-content&quot;&gt;
        &lt;p class=&quot;card-meta-text&quot;&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, animi voluptates ea illum nostrum quo sapiente ducimus facere est fugit repellat ratione asperiores culpa itaque dolores ad reprehenderit quas corporis!&lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-footer&quot;&gt;
      &lt;div class=&quot;card-footer-start&quot;&gt;
        &lt;button class=&quot;text&quot;&gt;Button 2&lt;/button&gt;
      &lt;/div&gt;
      &lt;div class=&quot;card-footer-end&quot;&gt;
        &lt;button class=&quot;icon&quot;&gt;&lt;i class=&quot;material-icons&quot;&gt;favorite&lt;/i&gt;&lt;/button&gt;
        &lt;button class=&quot;icon&quot;&gt;&lt;i class=&quot;material-icons&quot;&gt;favorite&lt;/i&gt;&lt;/button&gt;
      &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
<h2 id="outlined-card">Outlined card</h2>
<p>Add the class <code>outlined</code> to the <code>.card</code> element.</p>
<div class="p-4 m-1 background-light-grey" style="padding: 5% 30% !important;">
    <div class="card outlined">
    <div class="card-ripple-container ripple-e">
        <div class="card-header">
            <img src="https://images.unsplash.com/photo-1473773508845-188df298d2d1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80" class="card-img">
            <h3 class="card-title">The world and Hello</h3>
            <h4 class="card-meta-title">By John Doe</h4>
        </div>
        <div class="card-content">
            <p class="card-meta-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, animi voluptates ea illum nostrum quo sapiente ducimus facere est fugit repellat ratione asperiores culpa itaque dolores ad reprehenderit quas corporis!</p>
        </div>
    </div>
</div>
</div>

<pre><code class="language-xml">&lt;div class=&quot;card outlined&quot;&gt;
    &lt;div class=&quot;card-ripple-container ripple-e&quot;&gt;
        &lt;div class=&quot;card-header&quot;&gt;
            &lt;img src=&quot;https://images.unsplash.com/photo-1473773508845-188df298d2d1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=967&amp;q=80&quot; class=&quot;card-img&quot;&gt;
            &lt;h3 class=&quot;card-title&quot;&gt;The world and Hello&lt;/h3&gt;
            &lt;h4 class=&quot;card-meta-title&quot;&gt;By John Doe&lt;/h4&gt;
        &lt;/div&gt;
        &lt;div class=&quot;card-content&quot;&gt;
            &lt;p class=&quot;card-meta-text&quot;&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, animi voluptates ea illum nostrum quo sapiente ducimus facere est fugit repellat ratione asperiores culpa itaque dolores ad reprehenderit quas corporis!&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
		</div>
	</div>
</main>
</article>
</div>

        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Material dev ads -->
        <ins class="adsbygoogle" style="display: block;" data-ad-client="ca-pub-8836219589547174" data-ad-slot="1317023627" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Material dev ads -->
        <ins class="adsbygoogle" style="display: block;" data-ad-client="ca-pub-8836219589547174" data-ad-slot="1317023627" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <footer class="p-4 background-primary text-white">
            <div class="row text-left">
                <div class="col">
                    <h5>People who supported this project</h5>
                    <a href="https://github.com/tronic247/material-docs/graphs/contributors">
                        <img src="https://contrib.rocks/image?repo=tronic247/material-docs" />
                    </a>
                    <br />
                    <p>Want to be on this list ? Send a PR to this<a href="https://github.com/Tronic247/material" style="color: #dada;" rel="follow"> Github repository</a></p>
                    <p>This framework was created by <a href="http://tronic247.com/?ref=material" style="color: #dada;" rel="follow">Tronic247</a></p>
                </div>
                <div class="col">
                    <h5>Problems or feature requests?</h5>
                    <p class="h6">
                        Join us on <a href="https://discord.gg/Xusx5WFwMH" class="link" style="color: #dada;">Discord</a> and start chatting ! Or else visit our
                        <a href="https://github.com/Tronic247/material" class="link" style="color: #dada;">Github Repository</a> and create an issue or send a Pull request.
                    </p>
                </div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/tronic247/material/dist/js/material.min.js"></script>      
        <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.0.1/build/highlight.min.js"></script>
        <script data-ad-client="ca-pub-8836219589547174" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <script>
            hljs.highlightAll();
        </script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
        <script type="text/javascript">
            docsearch({ apiKey: "2f622bb017fc137b9c550c565cb2452e", indexName: "tronic_material", inputSelector: "#search", debug: !1 });
            setInterval(function () {
                $(".algolia-docsearch-suggestion--wrapper").addClass("ripple-e dark-ripple");
            }, 10);
            jQuery(".js-range-slider").ionRangeSlider();
            function snack(a) {
                if (a === 1) {
                    Material.Snackbar({ message: "Don&quot;t forget to star on &nbsp;<b><i>Github</i></b> &nbsp;:)" });
                }
                if (a === 2) {
                    Material.Snackbar({ message: "Your Account was created", actiontext: "Got it" });
                }
                if (a === 3) {
                    Material.Snackbar({ message: "Your Github Account was deleted", actiontext: "What ?" }, function () {
                        Material.Snackbar({ message: "I was Joking :)", actiontext: "Enough" });
                    });
                }
            }
            function fallbackCopyTextToClipboard(o) {
                var e = document.createElement("textarea");
                (e.value = o), (e.style.top = "0"), (e.style.left = "0"), (e.style.position = "fixed"), document.body.appendChild(e), e.focus(), e.select();
                try {
                    var c = document.execCommand("copy") ? "successful" : "unsuccessful";
                    console.log("Fallback: Copying text command was " + c);
                } catch (o) {
                    console.error("Fallback: Oops, unable to copy", o);
                }
                document.body.removeChild(e);
            }
            function copyTextToClipboard(o) {
                navigator.clipboard
                    ? navigator.clipboard.writeText(o).then(
                          function () {
                              console.log("Async: Copying to clipboard was successful!");
                          },
                          function (o) {
                              console.error("Async: Could not copy text: ", o);
                          }
                      )
                    : fallbackCopyTextToClipboard(o);
            }
            $("pre")
                .attr("data-tooltip", "Double Click to Copy")
                .dblclick(function (event) {
                    var t = this;
                    copyTextToClipboard($(t).text());
                    Material.Snackbar({ message: "Copied to clipboard" });
                });
        </script>
    </body>
</html>