{% extends "base.html" %}
{% block content %}
<div class="background-primary page-title" style="display: flex;align-items: center;">
	<h1 class="h4 text-white">{{ page.title }}</h1>
	<a class="btn text text-white dark small" style="height: max-content; margin-left: 0.5em;" href={{ page.edit_url }} data-tooltip="Edit this page on Github">Edit this page</a>

</div>
</div>
<article class="row sides p-0 container-fluid" id="main-content">
	<aside class="col-3 p-0">
		<div class="list small">
			{% if nav|length>1 %}
			{% for nav_item in nav %} {% if nav_item.children %}
			<p><strong>{{ nav_item.title }}</strong></p>
			{% for nav_item in nav_item.children %}
			<a
			class="
			list-item
			{%
			if
			nav_item.active%}active{%
			endif
			%}
			"
			href="{{ nav_item.url|url }}"
			>
			{{ nav_item.title }}
		</a>
		{% endfor %}
		{% else %}
		<a class="list-item {% if nav_item.active%}active{% endif %}" href="{{ nav_item.url|url }}">
			{{ nav_item.title }}
		</a>
		{% endif %} {% endfor %}
		{% endif %}
	</div>
</aside>
<main class="col-3 p-3">
	<div id="offers-content">
		<ins class="adsbygoogle"
		style="display:block"
		data-ad-format="fluid"
		data-ad-layout-key="-gs-3+1f-3d+2z"
		data-ad-client="ca-pub-8836219589547174"
		data-ad-slot="6464200648"></ins>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<div class="row">
		<div class="col" id="table-of-contents">
			{% set toc_num = namespace(value=0) %}
			{% for toc_item in page.toc %}{% set toc_num.value = toc_num.value + 1 %}{% endfor %}
			{% if toc_num.value != 0 %}<div class="list small">
				{% for toc_item in page.toc %}
				<a class="list-item ripple-e" href="{{ toc_item.url }}">{{ toc_item.title }}</a>
				{% for toc_item in toc_item.children %}
				<a class="list-item ripple-e sub" href="{{ toc_item.url }}">{{ toc_item.title }}</a>
				{% endfor %}
				{% endfor %}
			</div>{% endif %}
		</div>
		<div class="col-10">
			{% set toc_num = namespace(value=0) %}
			{% for toc_item in page.toc %}{% set toc_num.value = toc_num.value + 1 %}{% endfor %}
			{% if toc_num.value != 0 %}{% else %}
			<div class="alert alert-primary" role="alert">
				<p class="alert-message">This is still work in progress... Meanwhile you can <a href="{{ page.edit_url }}" class="link">contribute to this page</a>?</p>
			</div>
			<p></p>{% endif %}
			{{ page.content }}
		</div>
	</div>
</main>
</article>
</div>
{% endblock %}
